@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  background-image: url("../img/fundo4.png");
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
hr {
  color: rgb(182, 182, 182);
}
header {
  height: 100%;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 0 10px 0;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: x-large;
}

h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  margin: 10px 0 5px 0;
}
h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  color: rgb(63, 63, 63);
  width: 70%;
  height: auto;
  background-color: rgb(194, 194, 194);
  margin: auto;
  padding: 0;
}
main {
  padding: 16px;
  text-align: justify;
}
ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  width: auto;
  float: left;
}

li a,
.dropbtn {
  height: auto;
  display: inline-block;
  color: rgb(182, 182, 182);
  text-align: center;
  padding: 15px 20px;
  margin-left: 10px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 35px;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(61, 61, 61);
  border-radius: 10px;
  transition: 500ms;
  color: rgb(182, 182, 182);
  transform: scale(1.1);
}

.home {
  background-color: rgb(39, 39, 39);
  border-radius: 0 0 8px 8px;
  position: sticky;
  top: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

footer {
  padding: 10px;
}

.topper {
  height: 0%;
}

footer p {
  text-align: justify;
}

header img {
  height: 100%;
  width: 100%;
}

.left {
  border-radius: 5px;
  float: left;
  margin: 0 10px 0 0;
}

.legend {
  border-radius: 5px;
  background-color: #dbdbdb;
  display: block;
  height: 40px;
  float: left;
  width: 200px;
  text-align: center;
  line-height: 40px;
  clear: both;
  margin: 0 10px 0 0;
}
.logo {
  margin-right: 10px;
  float: right;
}

.item {
  position: absolute;
  top: 40%;
  left: 28%;
  transition: 1000ms;
  color: rgb(182, 182, 182);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.menu {
  position: static;
  width: 100%;
  height: 100%;
}

.perfil {
  width: 30%;
  border-radius: 10px;
  height: auto;
}

.text {
  width: 65%;
  height: 488px;
  background-color: rgb(212, 212, 212);
  float: right;
  margin-right: 10px;
  border-radius: 10px;
}

article li {
  height: auto;
  color: rgb(182, 182, 182);
  text-align: center;
  padding: 15px 20px;
  margin-left: 10px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 35px;
}

article p {
  padding: 5px;
}
